// Fonts
$font-principal: 'Sora', sans-serif;

// Media Queries
$tablet: 768px;

// Colors
$yellow: #f5c044;
$green: #4ca154;
$dark: #18181b;
$dark-light: #52525a;
$gray: #d4d4d8;
$gray-light: #fafaf9;
$white: #ffffff;

// Fonts Weight
$regular: 400;
$bold: 700;
